In [28]:
from pandas import DataFrame
import requests
import json
import base64
import pandas as pd
import io

In [29]:
url = "https://pb.utfpr.edu.br/geppadem/alimentario/index.php/admin/remotecontrol"

payload = {
    "method": "get_session_key",
    "params": ["ppgdr-pb@utfpr.edu.br", "5MnVpxad273a"],
    "id": 1
}
headers = {
    "cookie": "LS-BFZSAEVMKCPRBIUK=ehvcotsuvgjkoff0n91nn2m3um",
    "Content-Type": "application/json",
    "User-Agent": "Apache-HttpClient/4.2.2 (java 1.5)"
}

response = requests.request("POST", url, json=payload, headers=headers, verify=False)

c:\Users\pedro\.conda\envs\p39\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'pb.utfpr.edu.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [30]:
json_data = json.loads(response.text)

In [31]:
key = json_data["result"]
key

'oR2Ljeo7jBZmfCV2nFFU_JpzUV7tSJXm'

In [32]:
import requests

url = "https://pb.utfpr.edu.br/geppadem/alimentario/index.php/admin/remotecontrol"

payload = {
    "method": "export_responses",
    "params": [key, "572115", "csv", None, "complete", "code", "long"],
    "id": 1
}
headers = {
    "cookie": "LS-BFZSAEVMKCPRBIUK=ehvcotsuvgjkoff0n91nn2m3um",
    "Content-Type": "application/json",
    "User-Agent": "insomnia/2023.5.8"
}

responseSurvey = requests.request("POST", url, json=payload, headers=headers, verify=False)

c:\Users\pedro\.conda\envs\p39\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'pb.utfpr.edu.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [33]:
json_data = json.loads(responseSurvey.text)

In [34]:
survey = json_data["result"]

surveyDecode = base64.b64decode(survey).decode("utf-8")

In [35]:
df = pd.read_csv(io.StringIO(surveyDecode), sep=";")
df

,id,submitdate,lastpage,startlanguage,seed,Q00,G01Q02,G01Q03,G01Q04,G01Q05,...,G06Q45[SQ006],G06Q45[other],G06Q46[SQ001],G06Q46[SQ002],G06Q46[SQ003],G06Q46[SQ004],G06Q46[SQ005],G06Q46[other],G06Q47,G06Q48
0,67,2023-09-07 14:45:29,1,pt-BR,NaN,Maria Léia Borges dos Reis,4.0,Buritizal dos Reis,Morros- Maranhão,9889090098,...,Sim,NaN,NaN,Sim,NaN,NaN,NaN,Maior interesse do poder público estimular ess...,10,10
1,68,2023-09-08 07:25:19,1,pt-BR,NaN,Elinete Sales da Silva,0.5,Patizal,Morros,98984763823,...,Sim,É a associação que gere o mercado que faz a co...,NaN,NaN,NaN,NaN,NaN,Aumentar os preços de comercialização,10,10

In [36]:
df.shape

(2, 325)

In [37]:
default_columns = ["id", "submitdate", "lastpage", "Q00"]

In [38]:
g1_df = pd.concat([df[default_columns], df.filter(like="G01")], axis=1).dropna(axis=1, how="all")
g1_df

,id,submitdate,lastpage,Q00,G01Q02,G01Q03,G01Q04,G01Q05,G01Q06,G01Q07
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,4.0,Buritizal dos Reis,Morros- Maranhão,9889090098,2023-09-07 14:03:34,20 km
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,0.5,Patizal,Morros,98984763823,2023-09-08 06:52:29,28

In [39]:
g2_df = pd.concat([df[default_columns], df.filter(like="G02")], axis=1).dropna(axis=1, how="all")
g2_df

,id,submitdate,lastpage,Q00,G02Q09[AO01],G02Q09[AO02],G02Q09[AO03],G02Q09[AO04]
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Maria Léia,João Ribeiro dos Reis,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Eliete,Paulo Henrique Pereira,Adrian Henrique,Artur Gabriel

In [40]:
g3_df = pd.concat([df[default_columns], df.filter(like="G03")], axis=1).dropna(axis=1, how="all")
g3_df

,id,submitdate,lastpage,Q00,G03Q15[SQ003],G03Q15[SQ003comment],G03Q16,G03Q16[comment],G03Q17,G03Q18,G03Q19,G03Q19[comment],G03Q20,G03Q21
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Sim,Whatsapp,Sim. Especifique na caixa de comentários,Arrendamento e troca de experiências,Não,Não,Sim. Especifique na caixa de comentários,"Assistência técnica da Tijupá, especialmente n...",Sim,Agricultor familiar do Grupo Variável (renda b...
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Sim,Whatsapp,Não,NaN,Não,Não,Sim. Especifique na caixa de comentários,Recebe da associação de trabalhadores do Patiz...,Sim,Agricultor familiar do Grupo Variável (renda b...

In [41]:
g4_df = pd.concat([df[default_columns], df.filter(like="G04")], axis=1).dropna(axis=1, how="all")
g4_df

,id,submitdate,lastpage,Q00,G04Q22[SQ002],G04Q23[SQ003],G04Q23[SQ004],G04Q24[SQ001],G04Q24[SQ003],G04Q24[SQ004],...,G04Q27[SQ003],G04Q27[SQ004],G04Q29,G04Q30,G04Q31[SQ004],G04Q31[SQ007],G04Q31[SQ014],G04Q31[SQ016],G04Q31[SQ022],G04Q31[other]
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Sim,NaN,Sim,Sim,Sim,NaN,...,Sim,NaN,Mandioca e subprodutos - Farinha,Feiras Agroecológicas,Sim,Sim,NaN,Sim,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Sim,Sim,Sim,NaN,Sim,Sim,...,Sim,Sim,Farinha,Feira agroecológica,Sim,NaN,Sim,Sim,Sim,Vende para compradores individuais no atacado

In [42]:
g5_df = pd.concat([df[default_columns], df.filter(like="G05")], axis=1).dropna(axis=1, how="all")
g5_df

   id           submitdate  lastpage                         Q00
0  67  2023-09-07 14:45:29         1  Maria Léia Borges dos Reis
1  68  2023-09-08 07:25:19         1      Elinete Sales da Silva

In [43]:
g6_df = pd.concat([df[default_columns], df.filter(like="G06")], axis=1).dropna(axis=1, how="all")
g6_df

,id,submitdate,lastpage,Q00,G06Q28[SQ001],G06Q28[SQ011],G06Q28[SQ002],G06Q28[SQ012],G06Q28[SQ003],G06Q28[SQ013],...,G06Q44[SQ008],G06Q44[other],G06Q45[SQ002],G06Q45[SQ005],G06Q45[SQ006],G06Q45[other],G06Q46[SQ002],G06Q46[other],G06Q47,G06Q48
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Mandioca - 90kg,Farinha seca - 90kg,Fécula de tapioca - 60kg,Abacate - Kg 14 kg,Tanja,300 unidades,...,NaN,Divulgar a agroecologia,NaN,Sim,Sim,NaN,Sim,Maior interesse do poder público estimular ess...,10,10
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Mandioca,60kg,Farinha,30 kg,Fécula,20kg,...,Sim,Poder aumentar as vendas no futuro em outro canal,Sim,NaN,Sim,É a associação que gere o mercado que faz a co...,NaN,Aumentar os preços de comercialização,10,10

In [44]:
g7_df = pd.concat([df[default_columns], df.filter(like="G07")], axis=1).dropna(axis=1, how="all")
g7_df

,id,submitdate,lastpage,Q00,G07Q88,G07Q89,G07Q90,G07Q91
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Próprio responsável,Cônjuge,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Próprio responsável,Cônjuge,Filho(a) / enteado(a),Filho(a) / enteado(a)

In [45]:
g8_df = pd.concat([df[default_columns], df.filter(like="G08")], axis=1).dropna(axis=1, how="all")
g8_df

,id,submitdate,lastpage,Q00,G08Q78,G08Q79,G08Q80,G08Q81,G08Q82,G08Q83,G08Q84,G08Q85,G08Q86,G08Q87
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Feminino,Masculino,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Feminino,Masculino,Masculino,Masculino,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente,Inexistente

In [46]:
g9_df = pd.concat([df[default_columns], df.filter(like="G09")], axis=1).dropna(axis=1, how="all")
g9_df

,id,submitdate,lastpage,Q00,G09Q68,G09Q69,G09Q70,G09Q71
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,54,55,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,37,38,12.0,8.0

In [47]:
g10_df = pd.concat([df[default_columns], df.filter(like="G10")], axis=1).dropna(axis=1, how="all")
g10_df

,id,submitdate,lastpage,Q00,G10Q58,G10Q59,G10Q59[other],G10Q60,G10Q60[other],G10Q61,G10Q61[other]
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Ensino médio completo,Outros,Escreve o nome,NaN,NaN,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Ensino superior,Ensino médio completo,NaN,Outros,Estudante,Outros,Estudante infantil

In [48]:
g11_df = pd.concat([df[default_columns], df.filter(like="G11")], axis=1).dropna(axis=1, how="all")
g11_df

,id,submitdate,lastpage,Q00,G11Q48,G11Q48[other],G11Q49,G11Q50,G11Q51
0,67,2023-09-07 14:45:29,1,Maria Léia Borges dos Reis,Agricultor,NaN,Agricultor,NaN,NaN
1,68,2023-09-08 07:25:19,1,Elinete Sales da Silva,Outros,"Gasta mais tempo como professora, mas se ident...",Funcionário público,Estudante,Estudante